*{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    color: currentColor;
}

img{
    max-width: 100%;
}

body{
    color: white;
    background-color: #FAD5DA;;
}

/* MAIN */

main{
    background-color: #FE2A38;
}

/* MAIN - PHOTOSHOOT */

.photoshoot img{
    border-radius: 999px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.invitation{
    width: 100%;
}

.when-img{
    width: 100px;
}

.baptism-img,
.reception-img{
    width: 150px;
}

.countdown{
    margin: 0 auto;
}

.map{
    width: 300px;
    margin-top: 20px;
    height: 200px;
}

svg.down{
    transform: rotate(180deg);
    top: -10px;
}

/* FOOTER */
.main-footer{
    margin-top: 0;
    color: black;
}

.footer-img{
    width: 300px;
}

.three{
    font-size: 40px;
    color: #FE2A38;
}



.reveal {
    position: relative;
    opacity: 0;
}
.reveal.active {
    opacity: 1;
}

.active.slide-in-left,
._slide-in-left{
    animation: slide-in-left 0.9s ease-in;
}
.active.slide-in-right,
._slide-in-right{
    animation:slide-in-right 0.9s ease-in;
}


@keyframes slide-in-right{
    0%{
        opacity:0;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}


@keyframes slide-in-left{
    0%{
        opacity:0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}